@-ms-viewport       { width: device-width; }
body{
	overflow-x:hidden;
	font-family:"微軟正黑體","Microsoft JhengHei","Apple LiGothic Medium";
	font-weight:bold;
	background:#FFF;
	background-size:100%;	
}
nav{
	background:url(../img/menu.png) 50% 50%;
}
.nav>li{float:left;}
.nav>li>a:focus, .nav>li>a:hover{background:transparent}
section#main{background:url(../img/bgmain.jpg) 50% 0;}
section#form{background:url(../img/bgform.jpg) 50% 0;min-height:960px;}
footer{background: #f29921; /* Old browsers */
background: -moz-linear-gradient(left, #f29921 0%, #f5d84f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f29921 0%,#f5d84f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f29921 0%,#f5d84f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29921', endColorstr='#f5d84f',GradientType=1 );
padding:20px 0;
font-weight:bold;
box-shadow:         0px -10px 14px 0px rgba(50, 50, 50, 0.23);5);}
.container {
  margin: 0 auto;  
  padding:0;  
  max-width:980px;
}
#mainWrapper{position:relative;height:590px;}
#mainvisual,#mainvisualtext,#round1,#round2,#products,#btn1,#btn2{position:absolute;}
#mainvisualtext{top:12%;left:34%;}
#round1,#round2{width:48%}
#round1{left:0;bottom:0;}
#round2{right:0;bottom:0;}
#products{bottom:-25%;right:0;}
#btn1{left:-5%;bottom:-25px;}
#btn2{left:48%;bottom:-25px;}
#form{padding:20px 0;}
.input{padding:5px 0;}
.form-control{
          border-radius: 15px;
          display:inline-block;
          width:auto;
          margin:0 0 0 5px;
          min-width:210px;
}
.file{padding:15px 0;}
input[type=file]{display:inline-block;}
input[type=radio],input[type=checkbox]{margin-right:5px;}
input[type=radio]{margin-top: 9px;}
.form-label{margin-right:5px;}
.red{color:#9f0000;padding-top:9px;    line-height: 32px;}
.header{
    margin: 10px 0;
    background: url(../img/headerbg.png) 22px no-repeat;
}
.products{background:rgba(255,255,255,0.8);display:inline-block;padding:0 15px 15px 15px;border-radius: 15px;}
.modal-dialog-sample{max-width:480px;}
#rules .modal-content{background:#ffc300;}
#rules .title{background:#FFF;border-radius:15px; padding:5px 10px;margin:10px 0;}
#rules .title span{color:#de0010}
ol{padding-left:25px;}
ol li{color:#de0010;padding-left: 5px;}
ol li span{color:#000;}
#trules{margin:-35px auto 0 auto;display:block}
.ttitle{color:#de0010;text-shadow:1px #FFF;width:50px;vertical-align:top;text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;}
     
a,a:hover{color:#9f0000}
.youtube{
	padding:120px 0 80px;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	section#form{height:auto;    background-size: cover;}
	#round1{bottom:15%;}
	#round2{bottom:15%;}
	#btn1,#btn2{bottom:5%}
	#products{bottom:-75%;}
	.form-label{width:70px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.container{overflow:hidden}
	.header{background:none;}
	#mainvisualtext{top:8%;left:40%;}
	#mainvisual{width:50%;}
	#btn1{bottom:43%;left:0;width:35%;}
	#btn2{bottom:-4%;left:0;width:35%;}
	.form-control{width:280px;}
	#mainWrapper{height:auto;padding:0 20px;}
	#round1,#round2{width:100%}
	#mainvisual,#round1,#round2{position:static;}
	
	.youtube{
		padding:0;
	}
	.youtube>.col-lg-6.text-center{
		padding:10px 0 30px 0;
	}
	
	footer{padding:20px;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	#mainvisualtext{    max-width: 190px;}
	.nav img{height:26px;margin-top:10px;}
	.nav>li>a{padding:10px 5px}
	.nav>li:last-of-type >a{padding-right:15px;}
	.products img{width:100px;}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
    
}