<br/>
<div class="hero-unit">
	<h1>Welcome!</h1>
	<p id="tagline">Thank you for viewing <b>CakePHP 2.x User & Acl Management</b>, by <a href="http://codecanyon.net/user/vudoanthang">vudoanthang</a>, if you have any questions, please feel free to email via my user page contact form. Thank you so much!</p>
</div>