@import url('http://fonts.googleapis.com/css?family=Droid+Sans');
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700');
@import url('http://fonts.googleapis.com/css?family=Carme');

#logoFlash {
  position: absolute;
  left: -27px;
  top: 0px;
  width: 170px;
  height: 200px;
  cursor:pointer;
}
.PP{width: 19.8%;
  border-right: 1px dashed #d70078;
  margin: 15px 0;}
  .PP:last-of-type{border-right:none;}
.header-title{
	text-align:center;
	background: #2a1c71;
height:40px;border-radius: 15px 15px 0 0;
padding:2px 0 8px 0 ;
}

.header-title-2{
	background: rgba(252,205,77,1);
background: -moz-linear-gradient(top, rgba(252,205,77,1) 0%, rgba(252,234,187,1) 23%, rgba(251,223,147,1) 54%, rgba(248,181,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,205,77,1)), color-stop(23%, rgba(252,234,187,1)), color-stop(54%, rgba(251,223,147,1)), color-stop(100%, rgba(248,181,0,1)));
background: -webkit-linear-gradient(top, rgba(252,205,77,1) 0%, rgba(252,234,187,1) 23%, rgba(251,223,147,1) 54%, rgba(248,181,0,1) 100%);
background: -o-linear-gradient(top, rgba(252,205,77,1) 0%, rgba(252,234,187,1) 23%, rgba(251,223,147,1) 54%, rgba(248,181,0,1) 100%);
background: -ms-linear-gradient(top, rgba(252,205,77,1) 0%, rgba(252,234,187,1) 23%, rgba(251,223,147,1) 54%, rgba(248,181,0,1) 100%);
background: linear-gradient(to bottom, rgba(252,205,77,1) 0%, rgba(252,234,187,1) 23%, rgba(251,223,147,1) 54%, rgba(248,181,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccd4d', endColorstr='#f8b500', GradientType=0 );
padding:15px 73px 0 10px;
}
/*-----------------------------------------------------------------------------------*/
/*	1.	Global properties (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/
body {
    color: #7D7A7A;
    font-family: 'Arial',sans-serif;
    font-size: 18px;
    background: #e8e7ea;
    overflow-x:hidden;
}
header,
nav,
section,
article{display: block;}

figure {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: top;
}

.last{
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.clear{clear: both;}

.alignleft{float: left !important;}
.alignright{float: right !important;}
.aligncenter {text-align: center !important;}
.span6.no-margin-left {margin-left: 0!important;}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6{
    color: #555555;
}

h1{
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 22px;
}
h2{
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 20px;
}
h3{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight:400;
}
h4{
    font-size: 16px;
    margin-bottom: 16px;
}
h5{
    font-size: 14px;
    margin-bottom: 14px;
}
h6{
    font-size: 12px;
    margin-bottom:12px;
}

p{
    margin-bottom: 25px;
    line-height: 22px;
}
* p:last-child{margin-bottom: 0 !important;}

.color, .color2{
    font-weight: 700;
    padding: 0 2px;
}

.color{color: #555;}
.color2{color: #fb5a02;}
::selection {
    background: #fc884a; /* Safari */
    color:#000;
}
::-moz-selection {
    background: #fc884a; /* Firefox */
    color: #000;
}
/* Link Styles */
a{
    color: #fb5a02;
    text-decoration: none;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.3s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.3s ease-in-out; /* Opera */
}
a:hover{
    text-decoration: none;
    color: #1d1d1c;}

.title a{
    color: #2e2e2e;
    font-weight: 600;
    font-size: 12px;
}
h3.title a {
    border-bottom: 1px solid #e1e1e1;
    color: #272727;
    font-family: dosis;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
    display:block;
}
h4.title a{
    font-size:16px;
    font-weight: bold;
}
.title a:hover{color: #1d1d1c;}

/* top blocks */
#top-menu,
#header,
#slider,
#container,
#footer,
#footer-menu,
.breadcrumbs,
.content-hr {}
.bottom30{
    margin-bottom: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*	2.	Header, Navigation & Menus
/*-----------------------------------------------------------------------------------*/
.message-top {
    background-color: #FB5A02;
    border: 1px solid #FB5A02;
    color: #E6E9E7;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
button.close {
    position: absolute;
    right: 10px;
    top: 10px;
}
#top-menu {
	z-index:10;    
	position:relative;    
}

#top-menu .top-line {
    margin-bottom: 10px;
    margin-top:14px;
}
#top-menu .top-line .btn {
    margin-left: 10px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}
#top-menu .top-line .btn-inverse {
    background: #2e2e2e;
    background-image: none;
    box-shadow: none;
}
#top-menu .top-line .btn-inverse:hover {
    opacity: 0.5;
}

#top-menu .top-line .text-news {}

#top-menu ul.top-menu {
    margin-left:0;
    margin-top:3px;
}
#top-menu li{
    float: left;
    list-style: none;
}
#top-menu a:hover{color: #d9d9d9;}
#top-menu .top-menu li{margin-right: 10px;}

#top-menu .last{
    border-right: none;
    padding-right:0;
      width: 90px;
  min-width: initial;
}
}
#top-menu .top-social{
    float: right;
    margin-bottom: 10px;
    margin-top: 14px;
}
#top-menu .top-social li{
    margin-left: 10px;
    list-style: none;
}
#top-menu .top-social a { display:block; width: 32px; height: 32px; margin-top:2px; }
#top-menu .facebook { background: url(../images/icons/icon-tl-facebook.png) no-repeat 0 0; }
#top-menu .facebook:hover { opacity: 0.5; }
#top-menu .twitter2 { background: url(../images/icons/icon-tl-twitter.png) no-repeat 0 0; }
#top-menu .twitter2:hover { opacity: 0.5; }
#top-menu .rss { background: url(../images/icons/icon-tl-rss.png) no-repeat 0 0; }
#top-menu .rss:hover { opacity: 0.5; }
#top-menu .twitter-bird { background: url(../images/icons/icon-tl-twitter-bird.png) no-repeat 0 0; }
#top-menu .twitter-bird:hover { opacity: 0.5; }
#top-menu .icon { background: url(../images/icons/icon-tl-icon.png) no-repeat 0 0; }
#top-menu .icon:hover { opacity: 0.5; }

#header{
    position: relative;
    background: #ffffff;
}

.logo img {
    
}
@media (max-width: 480px){
    .logo img {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Main Menu */
.res-menu   {display: none;}
.res-menu   {width: 100%;}

#menu {
    
    height:42px;
    margin-top:40px;
    background:url(../img/nav_slice.png) 0 -43px repeat-x;
    
}
#menu li{
	    height:42px;
	    background:url(../img/nav_slice.png) 0 -43px repeat-x;
}
#menu .left-gradient{
	 width: 5px;
  	height: 42px;
  	background: url(../img/nav_left.png) 0 -43px no-repeat;
  	float:left;
}

#menu .right-gradient{
	 width: 5px;
  	height: 42px;
  	background: url(../img/nav_right.png) 0 -43px  no-repeat;
  	float:left;
}

@media (max-width: 767px) {
    #menu {
        background: none;
        padding-left: 0px;
    }
}

#menu .nav-left-prefix {
    position: absolute; width: 15px; height: 9px; left: -15px; top: -9px;
    background: url('../images/icons/nav-left-prefix.png') no-repeat 0 0;
}
#menu .nav-right-prefix {
    position: absolute; width: 15px; height: 9px; right: -15px; top: -9px;
    background: url('../images/icons/nav-right-prefix.png') no-repeat 0 0;
}
@media (max-width: 767px) {
    #menu .nav-right-prefix {
        display: none;
    }

}

#menu ul {}
#menu > ul{
    display: block;
    margin-left:0;
}
#menu > ul > li {
   
    float: left;
    list-style: none outside none;
    
    min-width:100px;
    text-align: center;
    position: relative;
}
#menu > ul > li > a{
	float:left;
    font-weight: 400;
    color: #FFFFFF;
    display: block;
    font-family: 'Droid Sans', sans-serif;
    font-size:26px;
    /*padding:15px;*/
}
#menu > ul a:hover,
#menu .current{
    color: #FFFFFF;
}
#menu .btn-search {
    float: right;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 12px;
}
#menu .divider-vertical {
    list-style: none;
    float: left;
    position: relative;
    padding: 0;
    height: 27px;
    margin: 12px 9px;
    border-left: 1px solid #282828;
    border-right: 1px solid #484848;
}

#menu ul ul{
    position: absolute;
    width: 170px;
    background: #efefef;
}
#menu > ul > li > ul{
    margin-left:-12px;
}
#menu ul ul li {
    list-style: none;
    padding: 0;
    position: relative;
}
#menu ul ul li.last{border-bottom: none !important;}
#menu ul ul li.menu-last{border-bottom: none !important;}
#menu ul ul a{
    display: block;
    padding: 15px 20px 15px 20px;
    color: #2e2e2e;
}
#menu ul ul a:hover{
    color: #ffffff !important;
}
#menu ul ul a.sf-with-ul {
    background: url('../images/icons/menu-sf-with-ul.gif') no-repeat 90% 50%;
}
#menu li:hover {
    
    visibility: inherit;
}
#menu li:hover ul,
#menu li.sfHover ul {
    left: 12px;
    top: 62px;
    z-index: 99;
}
#menu li li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.2s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.2s ease-in-out; /* Opera */
}
#menu li li:hover {background: #fb5a02;}
#menu li li:hover ul,
#menu li li.sfHover ul {
    left: 150px;
    top: 0px;
}

#menu > ul > li.btn-home {
    padding-right: 0 !important;
    padding-top: 12px;
}
#menu .btn-home > a {
    background: url('../images/icons/home-bt.png') no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    opacity: 0.4;
}
#menu .btn-home a:hover,
#menu .btn-home a.current {
    opacity: 1;
}
#menu ul ul ul {
    margin-left: 20px;
    width:170px;
}

/* Search Form */
.search {
    margin-top: 65px;
}
#search{
    float: right;
    position: relative;
}
#search,
#search p{
    margin-bottom: 0;
}
#search input[type="text"]{
    background-color: #E5E4E4;
    color: #454545;
    font: 11px 'Droid Sans',sans-serif;
    height: 35px;
    margin-bottom: 0;
    margin-top: -4px;
    opacity: 0.4;
    padding: 4px 25px 4px 10px;
    width: 220px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;

}
#search input[type="text"]:focus,
#search input[type="text"]:focus, #search input[type="text"]:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

}
#search .search-bt{
    right: 2px;
    top: 0;
    height: 30px;
    width: 30px;
    position: absolute;
    border: none !important;
    cursor: pointer;
    background: no-repeat 50% 50%;
    opacity: 0.5;
}
#search .search-bt:hover{
    opacity: 1;
}

/* Breadcrumbs */
.breadcrumbs{
    background: #ffffff;
    position: relative;
}
.breadcrumbs h1{
    font-size: 30px;
    text-transform: capitalize !important;
    color: #fb5a02;
}
.breadcrumbs div{
    font-size: 12px;
    color: #717171;
    display: inline-block;
}
.breadcrumbs a{
    color: #333333;
    display: inline-block;
}
.breadcrumbs a:hover{color: #111;}

/* Page title */
.page-title{
    background: #ffffff;
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}
.page-title h1 {
    color: #FB5A02;
    font-family: dosis,sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}
.page-title span {color: #969696}
.page-title a{
    color: #333333;
    display: inline-block;
}
.page-title a:hover{color: #111;}

.page-title .meta{
    padding-bottom: 5px;
    color: #b0b0b0;
}
.page-title .meta li{
    list-style: none;
    margin-right: 10px;
    float: left;
    letter-spacing: 0.03em;
}
.page-title .meta li a {color: #fb5a02;}
.page-title .meta li a:hover {color: #111111;}

#page-sidebar .page-title {margin-bottom: 20px;}

#page .page-title,
#page-sidebar .page-title,
#sidebar .page-title {margin-top: 0;}

#page,
#page-sidebar,
#sidebar {padding-top: 20px;}

.gmap-block {
    border: solid 5px #dbdbdb;
    overflow: hidden;
    padding: 0;
    line-height: 0;
    margin-bottom: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	3.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

.wrap{
    /*margin-top: 45px;
    margin-bottom: 30px;*/
}
.wrapper{
    padding: 0 30px;
}
.shadows{
    -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 4px rgba(50, 50, 50, 0.75);
}
.container{position: relative;}

#container{
   background:#FFF;
   /*
    background: rgba(255,244,42,1);
background: -moz-linear-gradient(top, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,244,42,1)), color-stop(44%, rgba(255,250,181,1)), color-stop(59%, rgba(247,241,153,1)), color-stop(100%, rgba(255,244,42,1)));
background: -webkit-linear-gradient(top, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
background: -o-linear-gradient(top, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
background: -ms-linear-gradient(top, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
background: linear-gradient(to bottom, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff42a', endColorstr='#fff42a', GradientType=0 );
   */ 
}
#container .container{padding: 30px;}

#container .container > .row{margin-bottom: 10px;}
#container .row.last{margin-bottom: 30px;}
.row.da-thumbs{margin-bottom: 0 !important;}


/* Video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Flex Slider */
.slider-caption-right {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    bottom: 40%;
    height: 160px;
    position: absolute;
    right: 0;
    width: 485px;
}
.slider-caption-right h1, .slider-caption-left h1{
    padding: 25px 25px 0 32px;
    color: #e5007f;
    font-family: 'dosis', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.slider-caption-right p, .slider-caption-left p{
    padding: 0 0 0 32px;
}
.slider-caption-right h1>span, .slider-caption-left h1>span{
    color:#272727;
    display: inline;
    text-transform: none;
    font-family: 'dosis', sans-serif;
    font-size: 50px;
}
.slider-caption-left {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    bottom: 30px;
    height: 160px;
    position: absolute;
    left: 0;
    width: 485px;
}
#slider {
    background: #ffffff;
    margin-top:0;
}
.flexslider{
    position: relative;
}
.slides li{position: relative;}

.slides h3 {
    top: 40px;
    left: 90px;
    position: absolute;
    display: block;
    font-weight: 400 !important;
    line-height: 1.5;
    max-width: 400px;
    margin-bottom: 30px;
    padding: 20px;
}
.slides h3 a.text{
    color: #ffffff;
    font-weight: normal;
    padding: 2px 0;
    display: block;
    text-shadow: 1px 1px 1px #000000;
}
.slides li a:hover{
    color: #fb5a02 !important;
}
@media (max-width: 980px) {
    .slides h3 a.text {font-size: 13px;}
}
.slides span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #d0d0d0;
    display:block;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px #000000;
}
.slides .btn-large {
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px 28px;
}

@media (max-width: 1200px) {

    .slides .btn-large {display: none;}
}

.slides .icon-more-big {
    background: url('../images/btn-more-big.png') no-repeat 0 0;
    width: 31px;
    height: 29px;
    margin-top: 14px;
    margin-left: 10px;
}
.slides .btn-success {
    background: #fb5a02;
}
.slides .btn-success:hover {
    color: #ffffff !important;
    background-color: #b2cc00;
}
.flex-direction-nav{
    position: absolute;
    bottom: 34%;
    width: 100%;
}

.flex-direction-nav li{
    float: left;
    margin-left: 1px;
    list-style: none;
}
.flex-direction-nav a{
    display: inline-block;
    width: 42px;
    height: 42px;
    opacity: 0.7;
    text-indent: -9999px;
    position: absolute;
    top:-55px;
}
.flex-direction-nav .flex-prev {left:0;}
.flex-direction-nav .flex-next {right:0px;}
.flex-direction-nav .flex-prev {background: url("../images/icons/arrow-slider-left.png") no-repeat scroll 0 0 transparent;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);}
.flex-direction-nav .flex-next {background: url("../images/icons/arrow-slider-right.png") no-repeat scroll 0 0 transparent;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);}
.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover{opacity: 1;}
.flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter:alpha(opacity=30);
    cursor: default;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
.flex-pauseplay span {text-transform: capitalize;}
.no-js .slides > li:first-child {display: block;}

.flexslider {
    position: relative;
    zoom: 1;
    padding:9px 0 0 0;
}
.flex-viewport {
    max-height: 350px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    
}
.flex-viewport img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
@media screen and (max-width: 470px) {
    .flex-direction-nav {bottom: 70%;}
}

.flex-control-nav, .flex-control-paging {
    bottom: -15px;
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    right: 33%;
    text-align: center;
}
.flex-control-nav li,
.flex-control-paging li {
    float: left;
    list-style-type: none;
    cursor: pointer;
    margin-right: 5px;
}
.flex-control-nav li a,
.flex-control-paging li a {
    display: block;
    height: 11px;
    width: 11px;
    text-indent: 99999px;
    background: url('../images/icons/flex-control-nav.png') no-repeat 50% 50%;
    padding: 1px;
}

.flex-control-nav li a.flex-active,
.flex-control-paging li a.flex-active,
.flex-control-nav li a:hover,
.flex-control-paging li a:hover {
    background: url('../images/icons/flex-control-nav-hover.png') no-repeat 50% 50%;
}

@media (max-width: 767px) {
    #top-menu, #header, #slider, #container, #footer, #footer-menu, .breadcrumbs, .content-hr {
        padding: 0 10px;
    }
    .flex-control-nav, .flex-control-paging {
        bottom: -10px;
        overflow: hidden;
        padding: 20px 0;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    #sidebar .title-divider h4 {margin-right: -30px;}
    #sidebar .title-divider .title-prefix-right {display: none;}
}
#sidebar .title-divider .title-prefix-right {
    background: url("../images/icons/nav-right-prefix.png") no-repeat scroll 0 0 transparent;
    height: 9px;
    right: -45px;
    position: absolute;
    top: -9px;
    width: 15px;
    z-index: 1001;
}
#sidebar .divider-arrow{top: 10px !important;}
#sidebar li{
    list-style: none;
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px dotted #f2f2f2;
}

#sidebar section{margin-bottom: 30px;}
#sidebar section:last-child{margin-bottom:0px;}
#sidebar .ul-col2{width: 110.9489051094891%;}
#sidebar .ul-col2 li{
    float: left;
    width: 40.13157894736842%;
    margin-right: 09.86842105263158%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #f2f2f2;
}
#sidebar .ul-col2 a{color: #888;}
#sidebar .ul-col2 a:hover{color: #222;}

#sidebar .recent-comments {}
#sidebar .recent-comments ul li {
    border: none;
    padding: 0 0 10px 25px;
    margin: 0;
    background: url('../images/icons/recent-comment.png') no-repeat 0 3px ;
}

#sidebar .blog-category {}
#sidebar .blog-category ul{}
#sidebar .blog-category ul li{
    border: none;
    padding: 0 0 10px 25px;
    margin: 0;
    background: url('../images/icons/flex-control-nav.png') no-repeat 0 5px ;
}
#sidebar .blog-category ul li a{}

#sidebar section {padding-left: 10px;}
#sidebar .title-divider {margin-left: -10px;}

#sidebar.alignleft section {padding-left: 0;}
#sidebar.alignleft .title-divider {margin-left: 0;}
#sidebar.alignleft .title-divider h4 {margin-right: 0; box-shadow: 2px -2px 0 #E2E3E1; margin-left: -45px;}
#sidebar.alignleft .title-prefix {
    top: -9px;
}

#sidebar .carousel-inner {border: solid 5px #DBDBDB; margin-left: -10px;}
#sidebar .carousel-control.left {bottom: 5px; right: 22px;}
#sidebar .carousel-control.right {bottom: 5px; right: 5px; }

.sidebar-border {
    border-left: solid 1px #E5E5E5;
    height: 100%;
    position: absolute;
    top: 0;
    right: 45px;
    z-index: 0;
}
.sidebar-border-right {
    border-right: solid 1px #E5E5E5;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 0;
}

/* Welcome Slogan */
#welcome{
    text-align: center;
}
.hero-unit{
    background: #f1eedd;
    padding: 20px;
    border-radius: 0;
}
.hero-unit h1 span{
    color:#fb5a02;
}
#welcome h1 {
    color: #403E3C;
    font-family: 'Dosis',sans-serif;
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 10px !important;
}
#welcome p {
    color: #7D7A7A;
    font-family: dosis,sans-serif;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

/* Divider */
.title-divider{
    margin-bottom: 30px;
    position: relative;
}

.title-divider h3{
    margin-bottom: 0 !important;
    padding-right: 5px;
    position: relative;
    display: inline-block;
    z-index: 1000;
    font-size: 17px;
    text-transform: uppercase;
}

.divider-arrow{
    top:7px;
    width: 100%;
    position: absolute;
}

.title-divider.span12{
    margin-bottom: 30px;
}
.title-divider.span12 h3{
    background: none;
    color: #ffffff;
    text-transform: none;

    padding: 20px 50px;
    margin-left: -45px;
    background: url('../images/backgrounds/footer.gif') repeat 0 0;

    -webkit-box-shadow: 2px -2px 0px #e2e3e1;
    -moz-box-shadow:    2px -2px 0px #e2e3e1;
    box-shadow:         2px -2px 0px #e2e3e1;

}
.title-prefix {
    height: 9px;
    left: -45px;
    position: absolute;
    top: 1px;
    width: 15px;
    background: url("../images/icons/nav-left-prefix.png") no-repeat scroll 0 0 transparent;
    z-index: 1001;
}


footer .title-divider {
}

footer .title-divider h3 {
    display: block !important;
    padding-bottom: 10px;
    text-transform: none;
}

/* Features */
.features > div{text-align: center;}
.features h3{margin: 15px !important;}

/* Bootstrap Carousel */
.carousel {position:relative;}
.carousel-wrapper{
    overflow:hidden;
    padding:2px 2px 5px 2px;
    
}
.carousel-wrapper ul{display:none;}
.carousel-wrapper ul li{
    height:100%;
    float:left;
    display:block;
    border-top: 5px solid #e5007f;
	  box-shadow: 3px 3px 5px #cccccc;
	  min-height: 270px;
	  padding: 15px 15px 0 15px;
	  background-color: #FFF;
}

.btleft .es-nav{
      position: absolute;
  top: -40px;
  left: 470px;
}

.bttop .es-nav{
    position: absolute;
    top: -50px;
    right: 0px;
}

.es-nav span{
    float: left;
    width: 17px;
    height: 17px;
    display: block;
    top: 1px;
    right: 0;
    text-indent: -9999px;
    cursor: pointer;
}
.es-nav .es-nav-prev{
    right: 17px;
    background: url(../images/arrow-left.png) no-repeat right top;
}
.es-nav .es-nav-next{
    background: url(../images/arrow-right.png) no-repeat left top;
}
.es-nav .es-nav-next:hover{
    background-position: -17px 0px ;
}
.es-nav .es-nav-prev:hover{
    background-position: 0px 0px ;
}

/* Our Projects */
.our-projects article{margin-bottom: 30px;}
.our-projects article img{display: block;}
.our-projects article h4{margin-bottom: 0;}
.our-projects article:nth-last-child(-n+4){margin-bottom: 0 !important;}

/* Our Blog */
.our-blog article p.l-meta{
    width: 100%;
    font-size: 14px;
    color: #969696;
    padding: 5px 0;
    margin: 0;
    font-weight: 100;
    margin-bottom: 20px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}
.our-blog p{margin-bottom: 10px}
.our-blog article p.l-meta span{
    display: block;
}
.our-blog article p.l-meta a{color: #b6b6b6;}
.our-blog article p.l-meta a:hover{color: #00a399;}
.our-blog img {
    border: 5px solid #dbdbdb;
    margin: -5px;
}

.our-blog .title {
    margin-top: 20px;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .our-blog .read-more {
        margin-bottom: 20px;
    }
}
/* Our News */
.our-news{position: relative;}
.our-news p{margin-bottom: 10px;}
.our-news .news-data{
    float: left;
    width: 60px;
    height: 50px;
    color: #b6b6b6;
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
}
.our-news .news-data span{
    display: block;
    font-weight:900;
    font-size: 42px;
    line-height: 42px;
}
.our-news .title{margin-bottom: 5px !important;}

.divider-blok{
    border-bottom: 1px dashed #efefef;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.divider-blok:hover{color:#272727}
article.span3 h4{
    margin-top: 0px;
}

/* Our Services */

.services {}
.services article {
    border: medium none;
    margin-bottom: 20px;
    padding-bottom: 0;
}
.services .title{
    margin-bottom: 30px;
}
.services-icon {
    margin-bottom: 30px;
}

.accordion-group {border:0;}
.accordion .accordion-toggle{
    font-weight: 900;
    color: #fff;
    padding: 5px 10px;
    background-color: #b6b6b6;
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 1px 1px #aaa;
}
.accordion .accordion-toggle:hover{
    background-color: #cdcdcd;
    border-color:#cdcdcd;
    text-shadow: 1px 1px #bbb;
}
.accordion .accordion-toggle span{
    right: 10px;
    top: 5px;
    width: 16px;
    height: 16px;
    position: absolute;
}
.accordion .accordion-inner{
    margin-top: 1px;
    border: 0;
}
.accordion .acc-block{padding: 20px 10px;}
.accordion h4{
    color: #707070;
    text-transform: none;
}

.accordion li{
    padding-left: 15px;
    margin-bottom: 10px;
}
.accordion i.pull-right {margin:3px 0 0 0;}

/* Twitter */
.twitter {
    margin-top:-5px;
}
.twitter  img{
    float: left;
    margin-right: 15px;
    margin-top:5px;
    border: solid 1px #e1e1e1;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.twitter span.tweet_time{
    display: block;
    padding-bottom: 5px;

}
.twitter dt{width: 50px;}
.twitter dd{margin-left: 60px;}
@media screen and (max-width: 767px) {
    .twitter dd{
        margin-left: 0;
        margin-top: 20px;
    }
}
.twitter dl{
    padding-bottom: 20px;
    margin-bottom: 20px;
    list-style: none;
}
.twitter dl:last-child{border: none;}

/* Testimonials */
.testimonials p{
    color: #969696;
    padding: 0 15px 15px 90px;
    background: #fff url('../images/icons/quotes.png') no-repeat top left;
}
.testimonials span.text {display: block;}
.testimonials span.name{
    display: block;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color:#2e2e2e;
    font-weight: bold;
}
.testimonials span.site {color: #89b001;}

.testimonials small{
    display: block;
    font-size:11px;
}
.testimonial-single li{
    padding-left: 45px;
    background: url(../images/icons/testi.png) no-repeat top left;
    list-style: none;
    padding-bottom:40px;
}
.testimonial-single li:hover{color:#272727}
.testimonial-single img{
    margin-right: 10px;
    float:left;
}
.testimonial-single h4 {
    display: block;
    margin-bottom: 0;
    padding-top: 12px;
}

/*-----------------------------------------------------------------------------------*/
/*	4.	Footer Styles
/*-----------------------------------------------------------------------------------*/
#footer {
/*	background: rgba(255,244,42,1);
background: -moz-linear-gradient(top, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,244,42,1)), color-stop(44%, rgba(255,250,181,1)), color-stop(59%, rgba(247,241,153,1)), color-stop(100%, rgba(255,244,42,1)));
background: -webkit-linear-gradient(top, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
background: -o-linear-gradient(top, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
background: -ms-linear-gradient(top, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
background: linear-gradient(to bottom, rgba(255,244,42,1) 0%, rgba(255,250,181,1) 44%, rgba(247,241,153,1) 59%, rgba(255,244,42,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff42a', endColorstr='#fff42a', GradientType=0 );*/    
    color: #949494;
    font-size: 12px;
    background:#FFF;
    position: relative;
}
#footer a {
}
#footer a:hover {color: #fb5a02;}
#footer h3 {
    color: #272727;
    font-family: dosis,sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
#footer li{
    margin-bottom: 10px;
    list-style: none;
}

/* Flickr */
.flickr li{
    list-style: none;
    margin: 0 5px 30px 4px ;
    float: left;
    background-color: #c4c4c4;
    line-height: 0 !important;
}

#sidebar .img-w-border {
    display: block;
    border: solid 5px #dbdbdb;
}
#sidebar .img-w-border:hover {
    border-color: #fb5a02;
}
#sidebar .img-w-border img {
    margin: 0;
}
.img-w-border {
    position: relative;
    overflow: hidden;

    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.2s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.2s ease-in-out; /* Opera */
}
.img-w-border i {
    background: #fb5a02 url('../images/icons/pluse.png') no-repeat 50% 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: -40px;
    z-index: 1;

    opacity: 0;

    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.2s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.2s ease-in-out; /* Opera */
}
.img-w-border:hover i {
    bottom: 0;
    right: 0;
    opacity: 1;
}

/* Latest work */

#latest-work {padding:15px;left:10px;position:relative;}
.latest-work h3 {margin-bottom: 5px;}
.latest-work .meta {color: #969696;}



/* Contact Form */

#footer #contact{margin-bottom: 0px}
#footer #contact .control-group {margin-bottom:5px;}
#footer #contact input[type="text"] {
    background-color: #e5e4e4;
    border: 0;
    border-radius: 0;
    color: #777777;
    height: 19px;
    margin-bottom: 1px !important;
    padding: 3px 5px;
    width: 98%;
}
#footer #contact span{
    color: #777;
    font-size: 13px;
    display: inline-block;
    width: 44px;

}
#footer #contact input:focus,
#footer #contact textarea:focus{
    box-shadow: none;
    background-color: rgba(150,150,150, 0.1) !important;}
#footer #contact textarea {
    background-color: #e5e4e4;
    border: 0;
    border-radius:0;
    color: #777777;
    height: 66px;
    margin-bottom: 2px;
    overflow: auto;
    padding: 5px;
    width: 98%;
}
#footer #contact p{margin-bottom: 5px;}

#footer #contact .btn {
    background: none repeat scroll 0 0 #ACAB9B;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin: 3px 0 0;
    padding: 6px 20px;
    text-shadow: none;
}
#footer #contact .btn:hover {
    background-color: #FB5A02;
    text-decoration: none;
}

#footer .form-horizontal .control-label {width: 25px;}
#footer .form-horizontal .controls {margin-left: 45px;}
#footer .form-horizontal .controls:first-child {*padding-left: 45px;}
#footer .form-horizontal .form-actions {padding-left: 45px;}

#footer .recent-comments,
#footer .recent-post {margin-bottom: 30px;}

#footer .recent-comments li,
#footer .recent-post li {margin-bottom: 3px;}

/* Address icons */
[class^="myicon-"],
[class*=" myicon-"] {
    display: inline-block;
    width: 16px;
    height: 12px;
    *margin-right: .3em;
    line-height: 12px;
    margin-right: 8px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: 1px;
}
.myicon-phone {background-image: url("../images/phone.png");}
.myicon-mail {background-image: url("../images/mail.png");}

/* Footer Menu */
#footer-menu {
    background: none repeat scroll 0 0 #FFFFFF;
}
#footer-menu .container{
    padding-top: 0;
    padding-bottom: 0;
}
#footer-menu li{
    list-style: none;
    padding: 15px 0;
    margin-right: 10px;
    float: left;
    font-size: 10px;
}
#footer-menu a{
    font-weight: 400;
    color: #fff;
    font-size:11px;
}
#footer-menu a:hover{color: #323232;}
#footer-menu p{
    font-size: 11px;
    color: #949494;
    padding-top: 14px;
    letter-spacing: 0.04px;
}

#footer h4 {
    color: #FB5A02;
    font-family: Dosis,sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
}
/*-----------------------------------------------------------------------------------*/
/*	5.	Post/Portfolio Content Styles
/*-----------------------------------------------------------------------------------*/
/* Categories */
#filtrable{
    margin-bottom: 30px;
    float: right;
}
#filtrable li{
    float: left;
    margin-left: 10px;
    list-style: none;
}

#filtrable a{
    padding: 4px 10px;
    background-color: transparent;
    border: 1px solid #ececec;
    font-size: 0.9em;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#filtrable a:hover,
#filtrable .current a{
    border-color: #ddd;
    background-color: #f5f5f5;
    color:#787878;
}

.p-view, .p-link{
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    opacity:0.8;
    -webkit-transition: opacity 0.35s linear;
    -moz-transition: opacity 0.35s linear;
    -o-transition: opacity 0.35s linear;
}
.p-view:hover, .p-link:hover{
    opacity:1;
}
.p-view{
    left: 50%;
    margin-left: -39px;
    background: url(../images/view.png);
}
.p-link{
    right: 50%;
    margin-right: -39px;
    background: url(../images/link.png);
}

.portfolio h4:last-child{margin-bottom: 0 !important;}
.portfolio article{margin-bottom: 30px;}
.portfolio img{display: block;}
.portfolio article span {border: solid 5px #dbdbdb;}
.portfolio article span:hover {border: solid 5px #fb5a02;}

.portfolio h4 a{
    color: #444;
    text-align: center;
    padding: 7px 10px;
    display:block;
    text-transform: none;
    background-color: #fcfcfc;
    border-bottom: 1px solid #eeeeee;
}
.portfolio h3{
    margin-top: 20px;
    border-bottom: 1px dashed #efefef;
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 16px;
}
.portfolio .read-more{margin-bottom: 30px;}

/* Pagination */

.pagination li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.pagination a{
    background-color: transparent;
    font-size: 0.9em;
    display: inline-block;
    border-left-width: 1px;
}

/* Sidebar */
/*.sidebar-right { background: #ffffff url('../images/backgrounds/sidebar.gif') repeat-y 74.6% 0 !important;}*/
.title-sidebar{
    color: #272727;
    display: block;
    font-family: dosis, sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sidebar{
    font-size: 14px;
    position: relative;
    z-index: 1;
    margin-top: 70px;
}
#sidebar h4{
    font-size: 15px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding-right: 15px;
}
#sidebar .title-divider{margin-bottom: 10px !important;}
#sidebar .title-divider h4 {
    background: none repeat scroll 0 0 #BBBBBB;
    color: #FFFFFF;
    display: block;
    margin-bottom: 25px;
    padding: 20px 50px 20px 30px;
    text-transform: none;
}
@media (max-width: 767px) {
    #top-menu, #header, #slider, #container, #footer, #footer-menu, .breadcrumbs, .content-hr {
        padding: 0 10px;
    }
    .flex-control-nav, .flex-control-paging {
        bottom: -10px;
        overflow: hidden;
        padding: 20px 0;
        position: absolute;
        right: 10px;
        text-align: center;
    }
    #sidebar .title-divider h4 {margin-right: -30px;}
    #sidebar .title-divider .title-prefix-right {display: none;}
}
#sidebar .title-divider .title-prefix-right {
    background: url("../images/icons/nav-right-prefix.png") no-repeat scroll 0 0 transparent;
    height: 9px;
    right: -45px;
    position: absolute;
    top: -9px;
    width: 15px;
    z-index: 1001;
}
#sidebar .divider-arrow{top: 10px !important;}
#sidebar li{
    list-style: none;
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px dotted #f2f2f2;
}

#sidebar section{margin-bottom: 30px;}
#sidebar section:last-child{margin-bottom:0px;}
#sidebar .ul-col2{width: 110.9489051094891%;}
#sidebar .ul-col2 li{
    float: left;
    width: 40.13157894736842%;
    margin-right: 09.86842105263158%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #f2f2f2;
}
#sidebar .ul-col2 a{color: #888;}
#sidebar .ul-col2 a:hover{color: #222;}

#sidebar .recent-comments {}
#sidebar .recent-comments ul li {
    border: none;
    padding: 0 0 10px 25px;
    margin: 0;
    background: url('../images/icons/recent-comment.png') no-repeat 0 3px ;
}

#sidebar .blog-category {}
#sidebar .blog-category ul{}
#sidebar .blog-category ul li{
    border: none;
    padding: 0 0 10px 25px;
    margin: 0;
    background: url('../images/icons/flex-control-nav.png') no-repeat 0 5px ;
}
#sidebar .blog-category ul li a{}

#sidebar section {padding-left: 10px;}
#sidebar .title-divider {margin-left: -10px;}

#sidebar.alignleft section {padding-left: 0;}
#sidebar.alignleft .title-divider {margin-left: 0;}
#sidebar.alignleft .title-divider h4 {margin-right: 0; box-shadow: 2px -2px 0 #E2E3E1; margin-left: -45px;}
#sidebar.alignleft .title-prefix {
    top: -9px;
}

#sidebar .carousel-inner {border: solid 5px #DBDBDB; margin-left: -10px;}
#sidebar .carousel-control.left {bottom: 5px; right: 22px;}
#sidebar .carousel-control.right {bottom: 5px; right: 5px; }

.sidebar-border {
    border-left: solid 1px #E5E5E5;
    height: 100%;
    position: absolute;
    top: 0;
    right: 45px;
    z-index: 0;
}
.sidebar-border-right {
    border-right: solid 1px #E5E5E5;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 0;
}
@media (max-width: 1200px){

    .sidebar-border {
        right: 40px;
    }
    .sidebar-border-right {
        left: 20px;
    }

}
@media (max-width: 768px){

    .sidebar-border {
        display: none;
    }
    .sidebar-border-right {
        display: none;
    }

}

/*-----------------------------------------------------------------------------------*/
/*	6.	Widgets & Widget Area
/*-----------------------------------------------------------------------------------*/
/* Popular Posts Widget */


.post-widget img{
    display: inline-block;
    float: left;
    margin-right: 15px;
    border: solid 5px #dbdbdb;
}
.post-widget .img{
    display: block;
    margin-bottom: 0;
    line-height: normal;
}
.post-widget a{
    font-size:1em;
    line-height: 18px;
    margin-bottom: 10px;
}
.post-widget a img{
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.3s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.3s ease-in-out; /* Opera */
}
.post-widget a:hover img{border-color: #91b511;}
.post-widget p{}
.post-widget li:last-child{margin-bottom: 0 !important;}

.post-widget .title {display: block;}
.post-widget .avatar {float: left; overflow: hidden;}
.post-widget .description {overflow: hidden;}
.post-widget .description h3 {margin-top: 0; color: #fb5a02;}
.post-widget .description h3 a {color: #fb5a02; font-weight: normal;}
.post-widget .description h3 a:hover {color: #2e2e2e;}

/* Tags Widget */
#tags a{
    color: #888;
    font-size: 12px;
    letter-spacing: 0.02em;
    padding: 2px 5px;
    margin: 0 5px 5px 0;
    display: inline-block;
    border: 1px solid #e8e8e8;
}

#tags a:hover{
    color: #fff;
    border-color: #ffa071;
    background-color: #ffaf88;
}

/* Flickr Widget */
.sidebar-flickr ul{width: 110.9489051094891%;}
.sidebar-flickr li{
    border: 0;
    float: left;
    padding: 0 !important;
    border-bottom: none !important;
    margin-bottom: 03.28947368421053% !important;
    margin-right: 03.28947368421053% !important;
    height: 20.06578947368421% ;
    width: 20.06578947368421% ;
}

#sidebar .sidebar-flickr {}
#sidebar .sidebar-flickr li {}
#sidebar .sidebar-flickr li a {display: block; border: solid 5px #dbdbdb;}
#sidebar .sidebar-flickr li a:hover {border-color: #fb5a02;}

/* Latest Projects Widget */
.carousel{margin-bottom: 0;}
.carousel-control{
    border: none;
    position: absolute;
    top: inherit;
    left: inherit;
    bottom: 0;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.carousel-control.post{top: 50%;}
.carousel-control.left.post{left: 0;}
.carousel-control.left{
    right: 17px;
    background: url(../images/arrow-blog-left.png) no-repeat center center;
}
.carousel-control.right{
    right: 0;
    background: url(../images/arrow-blog-right.png) no-repeat center center;
}

/* Comments Widget */
.comment-sidebar li:last-child{margin-bottom: 0 !important;}


/*-----------------------------------------------------------------------------------*/
/*	7.	Blog Styles
/*-----------------------------------------------------------------------------------*/

.blog-post h2.post-title{margin-bottom: 10px;}
.blog-post h2.post-title a{line-height: 25px;}
.blog-post h2 {color: #2e2e2e; margin-bottom: 5px;}
.blog-post h2 a {color: #2e2e2e;}
.blog-post h2 a:hover {color: #fb5a02;}
.blog-post .img-w-border {
    display: block;
    border: solid 5px #dbdbdb;
    margin-bottom: 30px;
}
.blog-post .img-w-border:hover {
    border-color: #fb5a02;
}
.blog-post .img-w-border img {
    margin: 0;
}
.blog-post img {
    margin-bottom: 30px;
    display: block;
}
.blog-post .meta{
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #b0b0b0;
}
.blog-post .meta li{
    list-style: none;
    margin-right: 10px;
    float: left;
    letter-spacing: 0.03em;
}
.blog-post.style2 img{
    width: 50%;
    float: left;
    margin-right: 25px;
}
.blog-post.style2 .carousel,
.blog-post.style2 .video{
    width: 50%;
    float: left;
    margin-right: 25px;
}
.blog-post.style2 .carousel img{width: 100%;}
.blog-post.style2 p{padding-top: 30px;}
.blog-post.style2 .meta{border: none;}

/* About Us Block */
.aboutus{margin-bottom: 35px;}
.aboutus h3{
    margin-bottom: 0;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
}
.aboutus .color2{font-weight: 400;}
/* Services Block */
.ident-bot-2 {margin-bottom: 17px;}
.figure-1 a.left-image {
    margin-right: 17px;
}
.lightbox-image {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.lightbox-image img { position:relative; z-index:2; }
.img-border-bg {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 0 1px #E7E7E7 inset;
    display: inline-block;
    padding: 5px;
}
.img-border {
    width: 100%;
}
.lightbox-image span {
    background: url("../images/magnify.png") no-repeat scroll 50% 50% transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.service {
    margin:0 5px 10px 0;
}

.features-list {
    list-style: none outside none;
}
.features-list > li {
    background: url("../images/f-list.png") no-repeat scroll 0 6px transparent;
    color: #DC6C56;
    font-size: 12px;
    padding-left: 33px;
    text-transform: uppercase;
}
.features-list > li > a {
    color: #fb5a02!important;
}
.features-list > li > a:hover {
    color: #000000 !important;
    text-decoration: underline;
}
.features-list span {
    color: #8A8989;
    display: block;
    font-size: 12px;
    margin-bottom: 20px;
    text-transform: none;
}
/*-----------------------------------------------------------------------------------*/
/*	8.	Forms
/*-----------------------------------------------------------------------------------*/
#af-form  input[type="text"]{
    color: #777;
    font-size: 12px !important;
    padding: 5px;
    height: 24px;
    box-shadow: none;
    margin-top: 0;
    height: 35px !important;
    margin-bottom: 0;
    border:1px solid #ececec;
}

#af-form input[type="text"],
#af-form textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

#af-form input[type="text"]:focus,
#af-form textarea:focus{
    -webkit-box-shadow: 0px 0px 3px 0px #f0f0f0;
    box-shadow: 0px 0px 3px 0px #f0f0f0;
    background-color: #fcfcfc;
}

#af-form textarea{
    color: #777;
    font-size: 12px !important;
    padding: 5px;
    height: 160px !important;
    overflow: auto;
    border:1px solid #ececec;
    width: 100%;

}

.af-outer {margin-bottom:15px;}

label.error, label.ferror{
    color: #dc3f35;
    font-size: 13px;
}

#af-form input.error,
textarea.error {border: 1px solid #ff3f3f;}

#progress{
    margin-top: 15px;
}

.af-form .btn-large {
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 15px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.af-form .icon-more-big {
    background: url('../images/btn-more-big.png') no-repeat 0 0;
    width: 31px;
    height: 29px;
    margin-top: 14px;
    margin-left: 10px;
}
.af-form .btn-success {
    background: #fb5a02;
}
.af-form .btn-success:hover {
    color: #ffffff !important;
    background-color: #b2cc00;
}

/*-----------------------------------------------------------------------------------*/
/*	9.	Comments
/*-----------------------------------------------------------------------------------*/
.comments .textarea {
    border: 1px solid #EDEDED;
    margin-bottom: 40px;
    margin-left: 94px;
    padding: 10px 20px;
    position: relative;
}
.comments .avatar{
    position: relative;
    float: left;
    margin-right: -5px;
}
.comments .comments-list{
    list-style: none !important;
}
.comments .comments-list ul{
    margin-left: 30px;
    margin-bottom: 20px;
}
.comments .meta{
    font: 12px 'Open Sans', serif;
    color: #666666;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px dotted #e2e2e2;
}
.comments ul ul .textarea {margin-top:-20px;}


/*-----------------------------------------------------------------------------------*/
/*	10.  Thumbnails
/*-----------------------------------------------------------------------------------*/
.da-thumbs li,
.da-thumbs article,
.da-thumbs.portfolio span{
    overflow: hidden;
    position: relative;
}
.da-thumbs li img,
.da-thumbs.portfolio span{
    display: block;
    position: relative;
    margin-bottom:7px;
}
.da-thumbs li div,
.da-thumbs article div{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.da-thumbs li div.da-animate,
.da-thumbs article div.da-animate {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.da-slideFromTop {
    left: 0px;
    top: -100%;
}
.da-slideFromBottom {
    left: 0px;
    top: 100%;
}
.da-slideFromLeft {
    top: 0px;
    left: -100%;
}
.da-slideFromRight {
    top: 0px;
    left: 100%;
}
.da-slideTop {
    top: 0px;
}
.da-slideLeft {
    left: 0px;
}

/*-----------------------------------------------------------------------------------*/
/*	11.	Shortcode Styles
/*-----------------------------------------------------------------------------------*/
.span9,
.span6{position: relative;}

/* Divider */
.divider-arrow, hr, .divider{
    height: 1px;
    clear: both;
}
.content-hr {background: #ffffff;}
.content-hr hr {margin: 0;}
#container hr{
    margin-top: 70px;
    margin-bottom: 20px;
}

#container hr.soft {margin:10px 0;}

#container .portfolio-single hr, #container .blog-single hr{
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Read More */
.read-more {
    background: none repeat scroll 0 0 #E1E1E1;
    color: #898686;
    display: inline;
    font-weight: 200;
    letter-spacing: 0.04em;
    padding: 8px 12px;
}
.read-more:hover {
    color: #e1e1e1;
    background: #272727;
}


/* Portfolio */
.portfolio h4 a{
    color: #444;
    text-align: center;
    padding: 7px 10px;
    display: block;
    text-transform: none;
    background-color: #fcfcfc;
    border-bottom: 1px solid #eeeeee;
}
.portfolio h4 a:hover{
    color: #fff;
    background-color: #ffaf88;
    border-bottom: 1px solid #f79f73;
}

/* Back to Top */
#toTop {
    background: url("../images/ui.totop.png") no-repeat scroll left top transparent;
    border: medium none;
    bottom: 6px;
    display: none;
    height: 40px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    text-indent: -999px;
    width: 40px;
    z-index: 1;
}
#toTopHover {
    background: url("../images/ui.totop.png") no-repeat scroll left -40px transparent;
    display: block;
    float: left;
    height: 40px;
    opacity: 0;
    overflow: hidden;
    width: 40px;
}
#toTop:active, #toTop:focus {
    outline: medium none;
}

/* Others */
.dropcap{
    width: 38px;
    height: 38px;
    line-height:38px;
    float: left;
    margin-right:15px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 22px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background-color: #FB8B54;
}


blockquote {
    border-left: 3px dotted #E1E1E1;
    margin: 20px 0;
    padding: 10px 10px 10px 30px;
}

blockquote p {
    color: #595959;
    font-family: dosis,sans-serif;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.02em;
    line-height: 30px;
}



.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 0;
    overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*-----------------------------------------------------------------------------------*/
/*	12.	Responsive Fixes
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 980px)  and (max-width: 1199px){

    .btleft .es-nav {left: 257px;top:-20px;}
    #latest-work .carousel-wrapper li{width:215px !important;}
    .figure-1 a.left-image {margin-right:5px;}
    .service.img-border-bg {margin-top:50px;}

}

@media (min-width: 768px) and (max-width: 979px) {

    #welcome{padding: 0;}
    .btleft .es-nav {left: -43px;}
    #latest-work .carousel-wrapper li{width: 252px !important;}
    .flickr li{width: 68px}
    #sidebar .ul-col2 li {
        float: none;
        margin-right: 0;
        width: 90%;
    }
    #footer #contact input[type="text"], #footer #contact textarea{width: 90%}
    #footer [class^="icon-"]{display: none;}
    .service.img-border-bg {margin-top:50px;}
    .ident-bot-2 {margin-bottom:0;}
    .figure-3 {display:none;}

}

@media (max-width: 767px){

    body{padding:0 }
    .container{padding: 0 20px;}

    
    .slides h3,
    #top-menu > .span6{display: none;}
    #top-menu .top-social{float: none;}


    .res-menu{display: none;}
    .logo{text-align:center; ;}

    .container > .row [class*="span"]{margin-bottom: 30px;}
    .container > .row > [class*="span"]:last-child{margin-bottom: 0 !important;}
    #welcome{padding: 0;}

    .btleft .es-nav{
        bottom: inherit;
        right: 0;
        left: inherit;
        top: -38px;
    }
    #latest-work .carousel-wrapper li{max-width: 15em !important;}
    .our-projects article:nth-last-child(-n+4) {margin-bottom: 30px !important;}

    #footer-menu .span4{
        margin-bottom: 15px;
        text-align:center;
    }

    .breadcrumbs {
        padding: 40px 20px;
        position: relative;
    }
    #container .breadcrumbs {
        padding: 0;
    }

    #sidebar section:last-child {margin-bottom: 0;}
    #sidebar .ul-col2{width: 100%}
    #sidebar .ul-col2 li {
        margin-right: 0;
        width: 50%;
    }

    .alignleft,
    .alignright{float: none !important;}

    #footer .submit-div {width:270px;}
    figure {display:inline-block; margin-right:15px;}

}

@media (max-width: 480px){

    #footer .form-horizontal .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }
    #footer .form-horizontal .controls {
        margin-left: 0;
    }
    #footer .form-horizontal .control-list {
        padding-top: 0;
    }
    #footer .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer .submit-div {width:225px;}

}

/* */
@media (max-width: 767px) {
    .container {
        padding: 0;
    }
    .wrap {
        margin: 0;
    }
    #menu {
        
        margin: 0;
    }

    #top-menu {border-bottom: none;}
}
@media (max-width: 800px) {
    #menu > ul > li > a {
        font-size: 12px;
    }
    #menu > ul > li {
 		width:110px;        

    }
}

.a_demo_four {
	background-image: linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -o-linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(19, 158, 210)),
	color-stop(1, rgb(142, 219, 247))
	);
	
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #EE338E, 0px 10px 5px #EE2889;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #EE338E, 0px 10px 5px #EE2889;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #EE338E, 0px 10px 5px #EE2889;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #EE338E, 0px 10px 5px #EE2889;
}


.a_demo_four:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -o-linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(19, 158, 210) 0%, rgb(142, 219, 247) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(19, 158, 210)),
	color-stop(1, rgb(142, 219, 247))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #EE338E, 0px 5px 3px #C52373;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #EE338E, 0px 5px 3px #C52373;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #EE338E, 0px 5px 3px #C52373;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #EE338E, 0px 5px 3px #C52373;
}



.a_demo_four:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}

.ThreeDBtn .arrow {
	
}
.ThreeDBtn {

  cursor: pointer;
  display: inline-block;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, .3) !important;
  
    width: 230px;
  padding: 5px 0px 5px 5px;
  letter-spacing: 3px;
/*   font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  text-align: center;
  font-size: 14px
  font-weight: 300;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1em;
  color: #fff;
  margin-left: 35px;

  /* Background transition */

  -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.ThreeDBtn:active {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
   transform: translate(0, 4px);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.ThreeDBtn {
  background: #ED2788 url(../img/btn_overlay.png) no-repeat  0 -25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;
  }


.ThreeDBtn img {
  max-height: 22px;
  vertical-align: middle;
}
.ThreeDBtn:hover {
  background-color: #ED2788;
  color:#FFF;
 }
 
 .ThreeDBtn {
 -webkit-box-shadow: 0px 6px 0px #D51674, 0px 3px 11px;
  -moz-box-shadow: 0px 6px 0px #D51674, 0px 3px 11px;
    box-shadow: 0px 6px 0px #D51674, 0px 3px 11px;
 }