body{
	background:#223C77;
	overflow-x:hidden;
}
.container {
  margin: 0 auto;
  max-width: 780px;
  padding:0;
}
input{color:#000;}
ol, ul{
	padding:0 20px;
}
.input{
	padding:5px 0;
}
#bg,#bg2{
	background:url(../img/bg.jpg) no-repeat ;
	
	overflow:hidden;
	position:relative
}
#bg{height:1200px;}
#bg2{height:1300px;display:none;}
#mainForm2{
	color:#FFF;
	margin:0 auto;
}
#bg-mobile{
	background:url(../img/bg-mobile.jpg) 50% 0 no-repeat;
	min-height:2742px;
	padding-top:480px;
	  background-size: cover;
}
#bg-mobile .col-sm-12{
	
}
.btns{
	padding-top:330px;
}
#bg .next,#bg2 .submit{
	position:absolute;
	left: 50%;
  	margin-left: -92px;
}

#bg .tnc, #bg2 .tnc{
	color:#FFF;
	position:absolute;
	right:100px;
	top:530px;
}
#bg2 .tnc{
	top:615px;
}
#bg .tnc a,#bg2 .tnc a{
	color:#FFF;
}
#bg .footer{
	position:absolute;
	left:0;
	bottom:-150px;
}
#bg2 .footer{
	position:absolute;
	left:0;
	bottom:-150px;
}

.block-center{
	display:block;
	margin:0 auto;
	float:none;
	left:-15px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#bg,#bg2{
		background-size:contain;
	}
	#bg .next, #bg2 .submit{
		margin-left:-70px;
		  margin-top: 15px;
	}
	.block-center{
		left:25px;
	}
	
	#bg .tnc{
		left:25px;
		top:605px;
	}
	
	#bg2 .tnc{
		left:25px;
		top:595px;
	}

	#bg .footer{	
		bottom:-100px;
	}
	#bg2 .footer{
		bottom:-100px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	#bg .next, #bg2 .submit{
		margin-left:-70px;
		  margin-top: 55px;
	}
	.block-center{
		left:25px;
	}
	
	#bg .tnc{
		left:25px;
		top:605px;
	}
	
	#bg2 .tnc{
		left:25px;
		top:595px;
	}
	
	#bg .footer{	
		bottom:0;
	}
	#bg2 .footer{
		bottom:0;
	}

	

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.block-center{
		left:25px;
	}
    
}